extends layout

block content
  h1 #{title}:#{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')
  
    h4 Books

    for book in genre_books
      +book-description(book)  
    else
      p There are no books of this genre!
  .btn-group
    a(href=genre.url+'/update').btn.btn-primary Update genre
    a(href=genre.url+'/delete').btn.btn-danger Delete genre
mixin book-description(book)
  p
    a(href=book.url) #{book.title}
  p #{book.summary}